{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true
  },
  "extends": [
    "standard"
  ],
  "plugins": [
    "standard",
    "node",
    "import",
    "promise"
  ],
  "globals": {
  },
  "rules": {
    "semi": [2, "always"]
  }
}
