*
.*

!.babelrc
!.editorconfig
!.env.example
!.eslintignore
!.eslintrc
!.gitignore
!index.js
!package-lock.json
!package.json
!README.md
!UNLICENSE

!.boot/
!.boot/**/*
!.boot/**/.*

!src/
!src/**/*
!src/**/.*

!dist/
!dist/**/*
!dist/**/.*
